@model R6Tracker.Models.RootObject
@{
    ViewBag.Title = "Home";
}

<body class="body-bg-image">
    <div class="container">
        <header>
            <img src="~/Content/Images/logo1.png" alt="Logo" />
        </header>
        <section class="search">
            <h1>Track Player Stats</h1>
            @using (Html.BeginForm("ProfileStats", "Home", FormMethod.Get))
            {
                <form>
                    <div class="form-group">
                        <label>Platform</label>
                        <select name="platform">
                            <option value="uplay">PC</option>
                            <option value="psn">Playstation</option>
                            <option value="xbl">Xbox</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text"
                               name="search" required
                               placeholder="Uplay ID, PSN ID, Xbox Live gamertag" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn" />
                    </div>
                </form>
            }
        </section>
    </div>
</body>
<footer>
    <p>&copy; @DateTime.Now.Year - R6 Tracker</p>
</footer>

<style scoped>
    img {
        width: 300px;
    }

    @@media(max-width: 700px) {
        img {
            display: block;
            margin: auto;
        }
    }
</style>